@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply min-h-screen;
  background: #ffffff;
  color: #142f04;
}

a {
  color: #2993a3;
}

a:hover {
  color: #e6fcd9;
}
